/* all style*/
body {
    font-family: 'Open Sans', sans-serif;
}

.color-primary {
    color: #FD6E0A;
}

.btn-primary {

    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: aliceblue;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px;
}
.section-title {
    color: #181818;
    text-align: center;

    font-size: 35px;

    font-weight: 700;
}
.section-dex {
    color: #757575;
    text-align: center;

    font-size: 18px;
    font-weight: 400;

    
    
}
main section{
    margin-top: 150px;
}

/*header style*/
.header {
    background-color: #FFF8F3;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-image: url('../images/header_bg.png');
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.banner-welcome {
    font-size: 45px;
    margin-bottom: 5px;


}

.banner-text {
    max-width: 900px;
}

.banner-title {
    font-size: 85px;

    font-weight: 700px;
    margin-top: 0px;
}

.profil-pic {
    width: 500px;

}



/*nav related style*/
nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 220px;
}

.nav-title {
    color: var(--Dark-01, #181818);
    font-size: 45px;
    font-weight: 800;

}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}


/*about section*/
main{
    max-width: 1140px;
    margin: 0 auto;
}


.about {
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0;

}
.about-info-box{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
.about-info-title{
    color:  #757575;
text-align: center;

font-size: 20px;

font-weight: 400;
padding-bottom: 0;

}
.about-info-dex{
    color:  #474747;
text-align: center;
font-size: 20px;

font-weight: 700;

}
#what-ido{
    padding:30px 150px ;
}
/*skills style*/
.skill{
    width: 267px;
height: 377px;
margin: 50px 24px 0 0;
border-radius: 5px;
background: #FFF;

box-shadow: 0px 6px 5px 0px 
}
.skills-box{
    display: flex;
    

}
.skill-title{
    color: #181818;

padding:0px 20px;
font-size: 20px;

font-weight: 700;

}
.skill-dex{
    color:  #757575;

font-size: 16px;

font-weight: 400;
padding: 20px ;
text-align: left; 
}
.s{
    padding: 20px;
}
/*resume style*/
.resume-box{
    display: flex;
    gap: 50px;
}
.resume-title{
    color:  #474747;

font-size: 30px;

font-weight: 700;

}
.resume-item{

}
.resume-item-name{
    color:  #474747;
    font-size: 25px;
    font-weight: 700;
}
.resume-item-institude{
    color:  #757575;
    font-size: 20px;
    font-weight: 600;
    
}
.resume-item-dex{
    color:  #757575;
font-size: 16px;
font-weight: 400;

}
.downlod-cv{
    padding-top: 20px;
    text-align: center;
}
/*footer style*/
footer{
  display: flex;  
background: #FFF8F3;
margin-top: 100px;
}
.connect{
    color:  #181818;

font-family: Open Sans;
font-size: 35px;

font-weight: 700;
margin: 130px 0px 0px 0px;

}
.connect-dex{
    color:  #474747;

font-size: 16px;

font-weight: 400px;
margin: 20px 120px 20px 0px;

}
.footer-colum{
    margin-left: 230px;
    margin-right: 230px;
}
#name{
    width: 461px;
height: 64px;
border-radius: 5px;
background:  #FFF;
border: none;
}
#number{
    width: 461px;
height: 64px;
border-radius: 5px;
background:  #FFF;
border: none;
margin-top: 20px;
    
}
#comment{
    width: 461px;
height: 180px;
border-radius: 5px;
background:  #FFF;
border: none;
margin-top: 20px;
}
#submit{
    margin-top: 20px;
}
